* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.app-container {
  background-image: linear-gradient(
    180deg,
    rgb(241, 77, 170),
    rgb(201, 111, 162),
    rgb(234, 234, 27, 0.6)
  );
  height: 100vh;
}

.input-container {
  text-align: center;
  padding: 20px 0 0;
}
li {
  list-style-type: none;
  background: white;
  border-radius: 10px;
  margin: 20px auto;
  width: 40%;
  padding: 24px;
  display: flex;
  gap: 18px;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
input[type="text"] {
  width: 88%;
  height: 45px;
  padding: 24px;
  color: #111111;
  font-weight: 500;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  /* margin: 20px 84px; */
  border: 2px solid #d1d3d4;
  /* width: 80%;
  
  padding: 12px 20px; */
  /* margin: 8px auto; */
}
span {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
